* {
    justify-content: center;
    padding: 0;
}
body {
    
    background: url(./background1.jpg) no-repeat center center fixed;
    background-size: cover;
}

main {
    display: flex;
    justify-content: center;
    padding-left: 2.5rem;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
h2 {
    display: block;
    color:rgb(219, 219, 219);
    text-shadow: black;
    margin-bottom: 3px;
    font-weight: bold;
    margin: 15px 0px 10px 10px;
    
}

span {
    color: red;
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}
input {
    border: none;
    border-radius: 5px;
    display: block;
    cursor: text;
    height: 1.5rem;
    padding: 1px 5px;
}

fieldset {
    display:inline-flex;
    border: none;
    padding: 10px;
    margin: 0px 20px;
}

.form {
    display: block;
    margin-top: 50px;
    margin-left: 325px;
    margin-right: 325px;
    margin-bottom: 50px;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    padding: 5rem;
    background-color: rgba(128, 128, 128, 0.8);
    padding: 20px 30px 30px 30px;
    border: none;
    border-radius: .5em;   
}
@media only screen and (max-width: 770px){
    .form {
        width: 100%;
    }
}

.form .section {
    justify-content: center;
    display: block;
    height: auto;
    flex-grow: 1;
    flex-direction: column;
    padding: 20px;
}

.form .section .control-group {
    display: block;
    margin-top: 10px;
    padding: 10px;
}

.form .section .control-group .control-label {
    display: block;
    margin-bottom: 5px !important;
    margin-right: 1rem;
    font-size: 14px;
    text-align: left;
    align-content: center;
    padding: 10px;
}
.error {
    display: block;
    color:rgba(27, 27, 27, 0.8);
    margin-top: 10px;
    font-size: 10px;
}

select {
    display: inline-block;
    padding: 0px 2px 0px 2px;
    border-width: 1px;
    border-radius: 5px;
    height: 1.7rem;   
}

select[name="day"] {
    margin-left: 30px;
}
label#dataNasc {
    display: block;
    margin: 0px 0px 5px 30px;
}

select[name="gender"] {
    margin-left: 71px;     
}
select[name="breed"] {
    margin-left: 60px;
}
label#maritalStatus {
    margin: 0px 0px 5px 0px;
}
label#gender {
    margin: 0px 0px 5px 71px;
}
label#breed {
    margin: 0px 0px 5px 57px;
}

input[name="city"]{
    margin-left: 80px
}
label#city{
    margin: 0px 0px 5px 80px;
}

input[name="phone"]{
    margin-left: 80px
}
label#phone{
    margin: 0px 0px 5px 80px;
}

input[name="cpf"]{
    margin-left: 80px
}
label#cpf{
    margin: 0px 0px 5px 80px;  
}

select[name="habilitacao"]{
    display: block;
    margin: 0px 0px 0px 150px;
    width: 100px;
}
label#habilitacao{
    margin: 0px 0px 0px 150px;
}

select[name="veiculo"]{
    display: block;
    margin-left: 0px;
    width: 100px;
}
label#veiculo{
    margin: 0px 0px 5px 0px;
}

button {
    display: block;
    margin: 0 auto;
    font-weight: bold;
    text-decoration: overline;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #707070;
    outline: none;
    border-radius: .5em;
    padding: 16px 32px;
    text-decoration: none;
    box-shadow: none;
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 15px;
    cursor: pointer;
    letter-spacing: 1px;
}
button:focus {
    border: none;
    outline: none;
}
.form button:hover {
    background-color: #000;
    color: white;
}
